@using Microsoft.AspNet.Identity
@using Eventor.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Eventor</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/knockout-3.2.0.js")
    @Scripts.Render("~/Scripts/knockout-3.2.0.debug.js")
    @Scripts.Render("~/Scripts/eventor.js")
    @Scripts.Render("~/Scripts/eventor_logger.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.1.2.min.js")

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css/style.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div id="header_content" class="active">
            <div class="left">
                <div id="logo"><span>E</span>ventor</div>
                <div id="header_text">Be ready to your event!</div>
            </div>
            <div class="right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", id = "my_account" })
                        <a href="javascript:document.getElementById('logoutForm').submit()" id="log_out">Log out</a>
                    }
                }
                
            </div>
        </div>
        <div id="hide_header"></div>
    </header>    

    @RenderBody()
    
    <footer>
        <ul>
            <li id="logo_item"><span></span></li>
            <li><a href="#" id="fb_link"></a></li>
            <li><a href="#" id="gp_link"></a></li>
        </ul>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
