@model Eventor.Models.LoginViewModel

@{
    ViewBag.Title = "Home Page";
}


<div id="dots">
    <div id="floating_box">
        <h1 id="logo"><a href="/"><span>E</span>ventor</a></h1>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <ul id="navigator">
                <li class="first"><span class="button" id="signup_expand">Sign up</span></li>
                <li><span class="button dark">New event without login</span></li>
            </ul>
            <hr>
            @Html.ValidationSummary(true)
            <div class="form_box" id="login_form">
                <div class="left bordered">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "text_input", @Value = "User name" })
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.Password, new { @class = "text_input", @Value = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <a href="#" id="lost_password">Lost password?</a>
                    <input class="button right_btn" type="submit" value="Log in">
                </div>
                <div class="right">
                    <a href="#" class="button blue social" id="facebook_btn"><span>f</span>Log in with Facebook</a>
                    <a href="#" class="button red social" id="google_btn"><span>g</span>Log in with Google</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="form_box" id="signup_form">
                <div class="left">
                    <input type="text" value="First name" class="text_input">
                    <input type="text" value="E-mail" class="text_input">
                    <div class="checkbox">
                        <input type="checkbox">
                        <label>I agree with <a href="#">Eventor's terms</a></label>
                    </div>
                </div>
                <div class="right">
                    <input type="text" value="Last name" class="text_input">
                    <input type="text" value="Password" class="text_input">
                    <input class="button" type="submit" value="Sign up">
                </div>
                <div class="clear"></div>
            </div>
        }
        @Html.Partial("_LoginPartial")
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}