@model Eventor.Models.AccountManageViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<hr />
<div class="form_box" id="infoFormContent">
    <h1 style="font-size:larger;margin-left:50px; margin-bottom:10px"><u>New Password Form</u></h1>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div>
            @Html.AntiForgeryToken()
            @if (Request.Form.AllKeys.Contains("savePasswordButton"))
            {
                <div class="row">
                    <div class="col-md-8" style="margin-left:50px">
                        @Html.ValidationSummary()
                    </div>
                </div>
            }

            <div class="form-group" style="width: 70%; margin-left: 70px">
                <label class="col-md-3">New Password: </label>
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.ManageUserPasswordModel.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ManageUserPasswordModel.NewPassword)
                </div>
            </div>
            <div class="form-group" style="width: 70%; margin-left: 70px">
                <label class="col-md-3">Confirm Password: </label>
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.ManageUserPasswordModel.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ManageUserPasswordModel.ConfirmPassword)
                </div>
            </div>

            <div class="form-group row" style="margin-left: 25px">
                <button name="savePasswordButton" type="submit" value="Save New Password" class="button green col-md-6">Save New Password</button>
                <button name="reset_form" class="button blue col-md-6" type="reset" style="margin-left: 25px">Reset Password Form</button>
            </div>
        </div>
    }
</div>