@model Eventor.Models.AccountManageViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<hr />
<div id="content">
    <strong data-bind="html: Pending"></strong>
    <span class="event_buttons">
        <span class="row-sm-2 row-md-10">
            <button style="margin-left: 25px" class="button" data-toggle="modal" data-target="#passwordChangeModal">
                Create Local Login
            </button>
        </span>
    </span>
</div>
<hr />

<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Local Login</h4>
            </div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="modal-body">
                    <div>
                        @Html.AntiForgeryToken()
                        @if (Request.Form.AllKeys.Contains("savePasswordButton"))
                        {
                            @Html.ValidationSummary()
                        }
                        <div class="form-group">
                            @Html.LabelFor(m => m.ManageUserPasswordModel.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ManageUserPasswordModel.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ManageUserPasswordModel.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ManageUserPasswordModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ManageUserPasswordModel.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ManageUserPasswordModel.ConfirmPassword)
                            </div>
                        </div>

                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button blue" data-dismiss="modal" style="float:right;">Close</button>
                    <div class="form-group">
                        <button name="savePasswordButton" type="submit" value="Save Password" class="button green">Save Password</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>