@using Eventor.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Account Manager";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}

<h1 style="font-size:larger;margin-left:25px">@ViewBag.Title</h1>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if(ViewBag.HasLocalPassword)
{
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/EAccountManager.js")

    <script type="text/javascript">

        $(function () {
            var knockoutTemplate = new AccountManagerViewModel();
            ko.applyBindings(knockoutTemplate, document.getElementById("sect"));
            //ko.applyBindings(new AccountEditViewModel(), document.getElementById("personalInformationChangeModal"));
        });
    </script>

} 